<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      
      
      <div class="welcome-images">
        <img src="../../assets/welcome.png" style="height: 50%; width: 50%;"/><br>
        <img src="../../assets/8_shop-512.webp" style="height: 50%; width: 50%;"/>
      </div>
    </div>

    
   

    

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Log in</ion-button>

      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Signup</ion-button>
    </div>
  </div>
</ion-content>
